<table class="table board-bg">
  <thead>
    <tr class="board-title-row">
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Win</th>
      <th scope="col">Loss</th>
      <th scope="col">ELO</th>
      <th scope="col">Diff</th>
    </tr>
  </thead>

  <tbody>
    <% division.sorted_teams.each_with_index do |t, i| %>
      <tr class="board-row">
        <td class="board-rank"><%= i + 1 %></td>
        <td class="board-name"><%= t.name %></td>
        <td class="board-wins"><%= t.league_record(division)[:wins] %></td>
        <td class="board-losses"><%= t.league_record(division)[:losses] %></td>
        <td class="board-elo"><%= t.elo_cache %></td>
        <% if t.elo_cache > t.previous_elo %>
          <td class="board-elo-up">⬆<%= t.elo_cache - t.previous_elo %></td>
        <% elsif t.elo_cache < t.previous_elo %>
          <td class="board-elo-down">⬇<%= t.previous_elo - t.elo_cache %></td>
        <% else %>
          <td class="board-elo-same">0</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
