<% @divisions.each do |d| %>
  <table border=1>
    <tr>
      <td>#</td>
      <td>Team</td>
      <td>Win</td>
      <td>Loss</td>
      <td>ELO</td>
    </tr>

    <% d.sorted_teams.each_with_index do |t, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= t.name %></td>
        <td><%= t.league_record(@division)[:wins] %></td>
        <td><%= t.league_record(@division)[:losses] %></td>
        <td>
          <%= t.elo_cache %>
          <% if t.elo_cache > t.previous_elo %>
            <font color="green">⬆<%= t.elo_cache - t.previous_elo %></font>
          <% elsif t.elo_cache < t.previous_elo %>
            <font color="red">⬇<%= t.previous_elo - t.elo_cache %></font>
          <% else %>
            ⬌ 0
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
