<%= stylesheet_link_tag    'bracket', media: 'all', 'data-turbolinks-track': 'reload' %>

<% provide :title, '2020 Bracket Challenge' %>
<div class="row bracket-challenge">
  <div class="col-lg-6 offset-lg-3">
    <header class="hero">
    <div class="hero-wrap">
    <p class="intro" id="intro"><%= image_tag 'Royal-Palms.png', height: '125px' %></p>
        <br />
        <h1 id="headline">Shufflinsanity</h1>
        <p class="year"><i class="fa fa-star"></i>2020 Playoffs<i class="fa fa-star"></i></p>
        <p>Forget March Madness, It's September Irrationality</p>
    </div>
    </header>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <p class="font-weight-bold">Welcome to The Royal Palms Shufflinsanity Bracket 2020!</p>
    <p>
      The Royal Palms is thrilled to be teaming up with our good friends (and league members) at <% link_to 'shuff.io', 'https://shuff.io/'%> and Bacardi to host the first ever league bracket challenge!
      <br />
      16 teams will battle it out for the coveted 2020 RPSC Chicago and Brooklyn League Championship crowns.
      <br />
      You can join in on all the action Monday nights on YouTube in October.
      <br />
      Be sure to subscribe to the <%= link_to 'Royal Palms YouTube Channel', 'https://www.youtube.com/channel/UCInSJx92B7WrL-UctI6MYDg', target: :_blank %> to be notified for each release.
      <br /> 
      Want to scout your team picks? Check out the RPSC Instagram accounts for team profiles: <%= link_to '@royalpalmschicago', 'https://www.instagram.com/royalpalmschicago/'%> <%= link_to '@royalpalms', 'https://www.instagram.com/royalpalms/'%> 
    </p>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <p class="font-weight-bold">What are the rules for the bracket challenge?</p>
    <p>
      Forget March Madness, this is September Irrationality! Pick your dream bracket and compete against the world.
    </p>
    <p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          For each match winner guessed correctly you'll score points:
            <ul>
              <li>
                1 point for Round of 16 matches
              </li>
              <li>
                2 points for Round of 8 Matches
              </li>
              <li>
                4 points for Semi-Final Matches
              </li>
              <li>
                8 Points for the Championship Match
              </li>
            </ul>
        </li>
        <li class="list-group-item">
          There will be two brackets, one for Royal Palms Chicago, and one for Royal Palms Brooklyn. You may enter either or both! Double your chances at winning!
        </li>
        <li class="list-group-item">
          The one person with the highest score will have their choice of a free league season (if you live in Chicago/Brooklyn) OR a $100 Royal Palms gift card (for when you come to visit!)
        </li>
        <li class="list-group-item">
          In the event of a tie, we'll put together something special to determine the winner fairly.
        </li>
        <li class="list-group-item">
          You can enter your picks for the Royal Palms Chicago Bracket from 12pm CDT (1pm EDT) on September 19th 2020 until 5pm CDT (6pm EDT) September 21st 2020.
          <br />
          We expect the Royal Palms Brooklyn bracket to open up at 12am CDT (1am EDT) on October 22nd 2020 until 5pm CDT (6pm EDT) October 26th, 2020.
        </li>
      </ul>
    </p>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <%= render partial: 'bracket/create_buttons', locals: { bracket: @bracket, tournament: @tournament } %>

    <div class="d-flex justify-content-center">
      <%= link_to "Want to see what the tournament bracket looks like so far?", :current_bracket, target: in_frame? ? :_blank : nil %>
    </div>
  </div>
</div>

<br />
<br />
<br />
