<%= stylesheet_link_tag    'bracket', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="bracket-challenge">
<header class="hero">
<div class="hero-wrap">
 <p class="intro" id="intro"><%= image_tag 'Royal-Palms.png', height: '150px' %></p>
    <br />
    <h1 id="headline">Shufflinsanity</h1>
     <p class="year"><i class="fa fa-star"></i>2020 Playoffs<i class="fa fa-star"></i></p>
     <p> <%= (@bracket.user.first_name || "Friend") %>'s <%= @bracket.tournament_group.name %> </p>
</div>
</header>


<section id="bracket">
<div class="container">
<div class="split split-one">
<% @bracket.tournament_group.tournament_rounds.each do |tr| %>
    <% unless tr.name == "Final" %>
    <div class="round blue round-<%= tr.number %> current">
        <div class="round-details"><%= tr.name %></div>
        <% tr.matches.each do |match| %>
        <ul class="matchup">

        <li class="team team-top">
        <% if @placeholder_team_ids.include? @bracket.potential_teams(match)[0].id.to_i %>
          <%= @bracket.potential_teams(match)[0].display_name.truncate(15) %>
        <% else %>
          <%= link_to @bracket.potential_teams(match)[0].display_name.truncate(15), team_path(:id => @bracket.potential_teams(match)[0].id.to_i), target: in_frame? ? :_blank : nil %>
        <% end %>
        <span class="score"><%= @bracket.match_points_s(match) %></span></li>
        <li class="team team-bottom">
        <% if @placeholder_team_ids.include? @bracket.potential_teams(match)[1].id.to_i %>
          <%= @bracket.potential_teams(match)[1].display_name.truncate(15) %>
        <% else %>
          <%= link_to @bracket.potential_teams(match)[1].display_name.truncate(15), team_path(:id => @bracket.potential_teams(match)[1].id.to_i), target: in_frame? ? :_blank : nil %>
        <% end %>
        <span class="score"><%= @bracket.match_points_s(match) %></span></li>
        </ul>
        <% end %>
    </div>  <!-- END ROUND <%= tr.number %> -->
    <% else %>
    <% end %>
<% end %>
</div>

<div class="champion">
    <div class="semis-l blue current">
        <div class="round-details">Finals<br/></div>
        <ul class ="matchup championship">
            <li class="team team-top">
            <% if @placeholder_team_ids.include? @bracket.potential_teams(@final_match)[0].id.to_i %>
              <%= @bracket.potential_teams(@final_match)[0].display_name.truncate(15) %>
            <% else %>
              <%= link_to @bracket.potential_teams(@final_match)[0].display_name.truncate(15), team_path(:id => @bracket.potential_teams(@final_match)[0].id.to_i), target: in_frame? ? :_blank : nil %>
            <% end %>
            <span class="score"><%= @bracket.match_points_s(@final_match) %></span></li>
            <li class="team team-bottom">
            <% if @placeholder_team_ids.include? @bracket.potential_teams(@final_match)[1].id.to_i %>
              <%= @bracket.potential_teams(@final_match)[1].display_name.truncate(15) %>
            <% else %>
              <%= link_to @bracket.potential_teams(@final_match)[1].display_name.truncate(15), team_path(:id => @bracket.potential_teams(@final_match)[1].id.to_i), target: in_frame? ? :_blank : nil %>
            <% end %>
            <span class="score"><%= @bracket.match_points_s(@final_match) %></span></li>
        </ul>
    </div>

    <div class="final yellow current">
        <i class="fa fa-trophy"></i>
        <div class="round-details">champion pick <br/></div>
        <ul class ="matchup championship">
        <li class="team team-top">
        <% if @placeholder_team_ids.include? @bracket.pick_for_match(@final_match).id.to_i %>
          <%= @bracket.pick_for_match(@final_match).display_name.truncate(15) %>
        <% else %>
          <%= link_to @bracket.pick_for_match(@final_match).display_name.truncate(15), team_path(:id => @bracket.pick_for_match(@final_match).id.to_i), target: in_frame? ? :_blank : nil %>
        <% end %>
        </ul>
    </div>

</div>
</div>
</section>

<br />
<br />
<br />

    <div class="col-lg-6 offset-lg-3">
      <% if user_signed_in? && current_user == @bracket.user %>
        <%= link_to "You want to start over, #{current_user.first_name || "Friend"}?", bracket_path(@bracket), method: "delete", data: { confirm: "Are you sure? It'll be from scratch!", disable_with: "Here we go again..." }, class:"btn btn-danger btn-lg btn-block" %>
      <% end %>
    </div>

</div>

<br />
<br />
