<div class="row">
  <% @games.each do |g| %>
    <div class="col-lg-3 live-score">
      <table class="table four-game-table">
        <tr>
          <td class="yellow-head"><%= g.yellow_team.name %></td>
          <td class="black-head"><%= g.black_team.name %></td>
        </tr>

        <% g.frames_with_meta.each do |f| %>
          <tr class="score-box">
            <td class="<%= f[:hammer] == 'black' ? 'hammer-mark' : '' %>">
              <%= f[:yellow_score] ? f[:yellow_score] : '​' %>
            </td>
            <td class="<%= f[:hammer] == 'yellow' ? 'hammer-mark' : '' %>">
              <%= f[:black_score] ? f[:black_score] : '​' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
