<div class="row">
  <% @games.each.each_with_index do |g, i| %>
    <div class="col-lg-3 live-score">
      <table class="table four-game-table">
        <tr>
          <td class="yellow-head"><%= g.frames.count > 8 ? g.black_team.name : g.yellow_team.name %></td>
          <td class="black-head"><%= g.frames.count >8 ? g.yellow_team.name : g.black_team.name %></td>
        </tr>

        <% g.eight_frames.each do |f| %>
          <tr class="score-box">
            <% if i == 0 %>
              <td><%= f[0] %></td>
              <td><%= f[1] %></td>
            <% else %>
              <td><%= f[1] %></td>
              <td><%= f[0] %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
