<div class="row">
  <div class="col-lg-4 lower-third">
    <table class="table">
        <tr class="l3-match">
          <% @games.each do |g| %>
            <td class="l3-match-gap" rowspan=1>
            </td>
            <td class="l3-game-name <%= g.frames.count.odd? ? "l3-black" : "l3-yellow" %>" colspan=1>
              <%= g.match.comment %>
            </td>
            <td class="l3-frame <%= g.frames.count.odd? ? "l3-black" : "l3-yellow" %>" colspan=2>
              <%= (g.frames.count+1).ordinalize %> Frame
            </td>
            <td class="l3-divider" rowspan=3>
            </td>
          <% end %>
        </tr>

        <tr class="l3-player-one">
          <% @games.each do |g| %>
            <td class="l3-player-name" colspan=2>
              <%= g.frames.count > 8 ? g.black_team.name : g.yellow_team.name %>
            </td>
            <td class="l3-hammer">
              <%= image_tag g.frames && g.frames.count.odd? ? "yellow_disc_hammer.svg" : "yellow_disc.svg", height: "40px" %>
            </td>
            <td class="l3-score">
              <% if g.frames && g.frames.any? %>
                <%= g.frames.count > 8 ? g.frames.last[1] : g.frames.last[0] %>
              <% end %>
            </td>
          <% end %>
        </tr>

        <tr class="l3-player-two">
          <% @games.each do |g| %>
            <td class="l3-player-name" colspan=2>
              <%= g.frames.count > 8 ? g.yellow_team.name : g.black_team.name %>
            </td>
            <td class="l3-hammer">
              <%= image_tag g.frames && g.frames.count.odd? ? "black_disc.svg" : "black_disc_hammer.svg", height: "40px" %>
            </td>
            <td class="l3-score">
              <% if g.frames && g.frames.any? %>
                <%= g.frames.count > 8 ? g.frames.last[0] : g.frames.last[1] %>
              <% end %>
            </td>
          <% end %>
        </tr>
    </table>
  </div>
</div>
