<div class="row">
  <div class="col-lg-4 live-score">
    <table class="table">
        <tr class="l3-player-one">
            <td class="l3-biscuits" rowspan=2>
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team1.name %>
            </td>
            <td class="l3-score">
                <%= @left_game.eight_frames.last[0] %>
            </td>
            <td class="l3-hammer">
                HAM
            </td>
            <td class="l3-frame" rowspan=2>
                4
            </td>
            
            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team3.name %>
            </td>
            <td class="l3-score">
                <%= @right_game.eight_frames.last[0] %>
            </td>
            <td class="l3-hammer">
                HAM
            </td>
            <td class="l3-frame" rowspan=2>
                4
            </td>

            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team1.name %>
            </td>
            <td class="l3-score">
                <%= @left_game.eight_frames.last[0] %>
            </td>
            <td class="l3-hammer">
                HAM
            </td>
            <td class="l3-frame" rowspan=2>
                4
            </td>

            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team3.name %>
            </td>
            <td class="l3-score">
            <%= @right_game.eight_frames.last[0] %>
            </td>
            <td class="l3-hammer">
                HAM
            </td>
            <td class="l3-frame" rowspan=2>
                4
            </td>
        </tr>
        <tr class="l3-player-two">
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team2.name %>
            </td>
            <td class="l3-score">
                <%= @left_game.eight_frames.last[1] %>
            </td>
            <td class="l3-hammer">
            
            </td>

            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team4.name %>
            </td>
            <td class="l3-score">
                <%= @right_game.eight_frames.last[1] %>
            </td>
            <td class="l3-hammer">
            
            </td>

            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team2.name %>
            </td>
            <td class="l3-score">
                <%= @left_game.eight_frames.last[1] %>
            </td>
            <td class="l3-hammer">
            
            </td>

            <td class="l3-divider">
            </td>
            <td class="l3-player-flag">
                FL
            </td>
            <td class="l3-player-name">
                <%= @team4.name %>
            </td>
            <td class="l3-score">
                <%= @right_game.eight_frames.last[1] %>
            </td>
            <td class="l3-hammer">
            
            </td>
        </tr>
        <tr class="l3-match">
            <td colspan=6>
                Men's Finals
            </td>
            <td colspan=6>
                Men's Semi-finals
            </td>
            <td colspan=6>
                Women's Finals
            </td>
            <td colspan=6>
                Women's Semi-finals
            </td>
        </tr>

    </table>
  </div>
</div>
