<div class="row">
  <% @games.each do |game| %>
    <div class="col">
      <table class="overlay-table">
        <tr>
          <td class="overlay-series"></td>
          <td></td>
          <% game.frames_with_meta(4).each do |frame| %>
            <td class="overlay-frame-<%= frame[:hammer] == 'black' ? 'yellow' : 'black' %>">
              <%= frame[:number] %>
            </td>
          <% end %>
        </tr>

        <tr class="overlay-row-yellow">
          <td class="overlay-series">1</td>
          <td class="overlay-name-yellow"><%= game.yellow_team.display_name %></td>
          <% game.frames_with_meta(4).each do |frame| %>
            <td class="overlay-score-yellow">
              <%= frame[:yellow_score] %>
            </td>
          <% end %>
        </tr>

        <tr class=overlay-row-black>
          <td class="overlay-series">0</td>
          <td class="overlay-name-black"><%= game.black_team.display_name %></td>
          <% game.frames_with_meta(4).each do |frame| %>
            <td class="overlay-score-black">
              <%= frame[:black_score] %>
            </td>
          <% end %>
        </tr>

        <tr>
          <td></td>
          <td class="overlay-title">
            Semi-Finals - Game 2
          </td>
        </tr>

      </table>
      <br>&nbsp<br>&nbsp<br>&nbsp<br>
    </div>
  <% end %>
</div>
