<div class="si">
  <div class="si-frame-header">
    <div class="si-wins-left"><%= @left_wins %></div>

    <% if !@side_switch && @yellow_hammer %>
      <div class="si-hammer-left si-yellow"></div>
    <% elsif @side_switch && @black_hammer %>
      <div class="si-hammer-left si-black"></div>
    <% end %>

    <div class="si-frame-number">
      <%= @frame_text %>
    </div>

    <% if !@side_switch && @black_hammer %>
      <div class="si-hammer-right si-black"></div>
    <% elsif @side_switch && @yellow_hammer %>
      <div class="si-hammer-right si-yellow"></div>
    <% end %>

    <div class="si-wins-right"><%= @right_wins %></div>
  </div>


  <div class="si-team-bg-left si-<%= @left_color %>">
    <div class="si-team-name-left"><%= @left_name %></div>
    <div class="si-score-left"><%= @left_score %></div>
  </div>

  <div class="si-team-bg-right si-<%= @right_color %>">
    <div class="si-score-right"><%= @right_score %></div>
    <div class="si-team-name-right"><%= @right_name %></div>
  </div>
</div>

<!-- <%= @game_id %> -->
