<div class="si">
  <div class="si-frame-header">
    <div class="si-wins-left"><%= @yellow_wins %></div>

    <% if @yellow_hammer %>
      <div class="si-hammer-left si-yellow"></div>
    <% end %>

    <div class="si-frame-number">
      <%= @frame_text %>
    </div>

    <% if @black_hammer %>
      <div class="si-hammer-right si-black"></div>
    <% end %>

    <div class="si-wins-right"><%= @black_wins %></div>
  </div>


  <div class="si-team-bg-left si-yellow">
    <div class="si-team-name-left"><%= @yellow_name %></div>
    <div class="si-score-left"><%= @yellow_score %></div>
  </div>

  <div class="si-team-bg-right si-black">
    <div class="si-score-right"><%= @black_score %></div>
    <div class="si-team-name-right"><%= @black_name %></div>
  </div>
</div>

<!-- <%= @game_id %> -->
