<div class="row">
  <div class="col-lg-4 lower-third">
    <table class="table">
        <tr class="l3-match">
            <td class="l3-match-gap" rowspan=1>
            </td>
            <td class="l3-game-name <%= "l3-black" %>" colspan=6>
                ISA Championship Finals
            </td>
        </tr>

        <% @games.each do |g| %>
        <tr class="l3-match-one">
            <td class="l3-game-name <%= "l3-black" %>" colspan=1>
                <%= g.match.comment %>
            </td>
            <td class="l3-frame <%= "l3-black" %>" colspan=2>
                <%= (g.frames.count+1).ordinalize %>
            </td>
            <td class="l3-player-name">
                <%= g.frames.count > 8 ? g.black_team.name : g.yellow_team.name %>
            </td>
            <td class="l3-hammer">
                <%= image_tag g.frames.count.odd? ? "yellow_disc_hammer.svg" : "yellow_disc.svg", height: "40px" %>
            </td>
            <td class="l3-score">
                <%= g.frames.count > 8 ? g.frames.last[1] : g.frames.last[0] %>
            </td>
            <td class="l3-player-name">
            <%= g.frames.count > 8 ? g.yellow_team.name : g.black_team.name %>
            </td>
            <td class="l3-hammer">
            <%= image_tag g.frames.count.odd? ? "black_disc.svg" : "black_disc_hammer.svg", height: "40px" %>
            </td>
            <td class="l3-score">
            <%= g.frames.count > 8 ? g.frames.last[0] : g.frames.last[1] %>
            </td>
        </tr>

        <% end %>
    </table>
  </div>
</div>
