<div class="row">
  <div class="col-lg-4 lower-third">
    <table class="table">
        <tr class="l3-match">
            <td class="l3-match-gap" rowspan=1>
            </td>
            <td class="l3-game-name <%= "l3-black" %>" colspan=6>
              Royal Palms Chicago Winter 2020 Championship
            </td>
        </tr>

        <% @games.each do |g| %>
        <tr class="l3-match-one">
            <td class="l3-game-name <%= g.hammer=="yellow" ? "l3-black" : "l3-yellow" %>" colspan=1>
              <%= g.match.comment[0..10].split.first(2).join(' ').upcase %>
            </td>
            <td class="l3-frame <%= g.hammer=="yellow" ? "l3-black" : "l3-yellow" %>" colspan=2>
                <% if g.completed? %>
                  FIN
                <% else %>
                  <%= (g.frames.count+1).ordinalize %>
                <% end %>
            </td>
            <td class="l3-player-name">
                <%= g.yellow_team.name %>
            </td>
            <td class="l3-hammer">
                <%= image_tag g.hammer=="yellow" ? "yellow_disc_hammer.svg" : "yellow_disc.svg", height: "40px" %>
            </td>
            <td class="l3-score">
              <% if g.frames && g.frames.any? %>
                <%= g.frames.last[0] %>
              <% end %>
            </td>
            <td class="l3-player-name">
              <%= g.black_team.name %>
            </td>
            <td class="l3-hammer">
            <%= image_tag g.hammer=="black" ? "black_disc_hammer.svg" : "black_disc.svg", height: "40px" %>
            </td>
            <td class="l3-score">
              <% if g.frames && g.frames.any? %>
                <%= g.frames.last[1] %>
              <% end %>
            </td>
        </tr>

        <% end %>
    </table>
  </div>
</div>
