<div class="row">
  <div class="col-lg-4 live-score">
    <table class="table">
      <tr class="team-box">
        <td>
          <img class="team-logo" style="background-color: #<%= @games[0].yellow_team.color %>" src="<%= @games[0].yellow_team.logo_uri %>" />
        </td>
        <td>
          <img class="team-logo" style="background-color: #<%= @games[0].black_team.color %>" src="<%= @games[0].black_team.logo_uri %>" />
        </td>
      </tr>

      <tr>
        <td class="yellow-head">&nbsp</td>
        <td class="black-head">&nbsp</td>
      </tr>

      <% @games[0].frames_with_meta.each do |f| %>
        <tr class="score-box">
          <td class="<%= f[:hammer] == 'black' ? 'hammer-mark' : '' %>">
            <%= f[:yellow_score] %>
          </td>
          <td class="<%= f[:hammer] == 'yellow' ? 'hammer-mark' : '' %>">
            <%= f[:black_score] %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-lg-2 offset-lg-1 live-description d-none d-lg-block">
    <img class="rp-logo" src="https://static1.squarespace.com/static/5a733ffdf6576ec0595d419e/t/5a746c939140b7e05611c436/1517579417533/RP+CHICAGO.png"/>

    <hr class="court-divider">

    <div class="court-text">
      <i class="fas fa-arrow-left fa-2x"></i><br>

      <span class="court-title">Court</span><br>
      <span class="court-number"><%= @games[0].match.court.number %></span><br>
      <%= @games[0].match.comment %><br>

      <i class="fas fa-arrow-left fa-2x"></i>
      <hr class="court-divider">
      <i class="fas fa-arrow-right fa-2x"></i>
      <br>

      <span class="court-title">Court</span><br>
      <span class="court-number"><%= @games[1].match.court.number %></span><br>
      <%= @games[1].match.comment %><br>

      <i class="fas fa-arrow-right fa-2x"></i>

      <br><hr class="court-divider">

      <span class="inverted"><%= image_tag "tangs-biscuit.png", height: "100px" %></span><br>
      <span class="live-link">https://shuff.io/live</span>
    </div>
  </div>

  <div class="live-description d-lg-none">
    &nbsp
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="col-lg-4 offset-lg-1 live-score">
    <table class="table">
      <tr class="team-box">
        <td>
          <img class="team-logo" style="background-color: #<%= @games[1].yellow_team.color %>" src="<%= @games[1].yellow_team.logo_uri %>" />
        </td>
        <td>
          <img class="team-logo" style="background-color: #<%= @games[1].black_team.color %>" src="<%= @games[1].black_team.logo_uri %>" />
        </td>
      </tr>

      <tr>
        <td class="yellow-head">&nbsp</td>
        <td class="black-head">&nbsp</td>
      </tr>

      <% @games[1].frames_with_meta.each do |f| %>
        <tr class="score-box">
          <td class="<%= f[:hammer] == 'black' ? 'hammer-mark' : '' %>">
            <%= f[:yellow_score] %>
          </td>
          <td class="<%= f[:hammer] == 'yellow' ? 'hammer-mark' : '' %>">
            <%= f[:black_score] %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
