<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'moonshooter@example.com' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Reset Password', class: 'btn btn-info' %>
      </div>
    <% end %>

    <%= render 'users/shared/links' %>
  </div>
</div>
