<%= form_for [:admin, @team], url: url, method: method do |f| %>
  <div class="form-group">
    <%= f.label 'Name:' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Short Name:' %>
    <%= f.text_field :short_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Captain:' %>
    <%= f.text_field :captain, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
