<nav class="navbar navbar-expand-md nav-bg navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><%= image_tag "shuffio-logo-128px.png", height: "48px" %></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Bracket Challenge', bracket_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Live Streams', live_index_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Divisions', divisions_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Seasons', seasons_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Top Teams', teams_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'FAQ', faq_index_path, class: 'nav-link' %>
      </li>

      <% if current_user && current_user.is_admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to('Can Am', admin_canam_index_path, class: 'dropdown-item') %>
            <%= link_to('Teams', admin_teams_path, class: 'dropdown-item') %>
            <div class="dropdown-divider"></div>
            <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      <% elsif current_user %>
        <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
      <% else %>
        <%= link_to('Sign in'.html_safe, new_user_session_path, class: 'nav-link') %>
      <% end %>
    </ul>
  </div>
</nav>
