<div class="board-table">
  <div class="row board-title-row">

    <div class="col-<%= rank_widths[:rank] + rank_widths[:name] %>">
      <div class="dummy-<%= rank_widths[:rank] + rank_widths[:name] %>"></div>
      <div class="in board board-title">
        <% if defined?(link) %>
          <%= link_to title, link %>
        <% else %>
          <%= title %>
        <% end %>
      </div>
    </div>

    <% if rank_widths[:record].positive? %>
      <div class="col-<%= rank_widths[:record] %>">
        <div class="dummy-<%= rank_widths[:record] %>"></div>
        <div class="in board">
          Record
        </div>
      </div>
    <% end %>

    <% if (rank_widths[:elo] + rank_widths[:elo_change]).positive? %>
      <div class="col-<%= rank_widths[:elo] + rank_widths[:elo_change] %>">
        <div class="dummy-<%= rank_widths[:elo] + rank_widths[:elo_change] %>"></div>
        <div class="in board">
          ELO
        </div>
      </div>
    <% end %>

  </div>

  <% teams.each_with_index do |t, i| %>
    <div class="row board-row">

      <% if rank_widths[:rank].positive? %>
        <div class="col-<%= rank_widths[:rank] %>">
          <div class="dummy-<%= rank_widths[:rank] %>"></div>
          <div class="in board board-rank">
            <%= i + 1 %>
          </div>
        </div>
      <% end %>

      <div class="col">
        <div class="dummy-<%= rank_widths[:name] %>"></div>
        <div class="in board board-name">
          <%= link_to t[:team].display_name, team_path(t[:team]) %>
        </div>
      </div>

      <% if rank_widths[:record] >= 2 %>
        <div class="col-<%= (rank_widths[:record] / 2).floor %>">
          <div class="dummy-<%= (rank_widths[:record] / 2).floor %>"></div>
          <div class="in board board-wins">
            <%= t[:wins] %>
          </div>
        </div>

        <div class="col-<%= (rank_widths[:record] / 2).floor %>">
          <div class="dummy-<%= (rank_widths[:record] / 2).floor %>"></div>
          <div class="in board board-losses">
            <%= t[:losses] %>
          </div>
        </div>
      <% end %>

      <% if rank_widths[:elo].positive? %>
        <div class="col-<%= rank_widths[:elo] %>">
          <div class="dummy-<%= rank_widths[:elo] %>"></div>
          <div class="in board board-elo">
            <%= t[:team].elo_cache %>
          </div>
        </div>
      <% end %>

      <% if rank_widths[:elo_change].positive? %>
        <div class="col-<%= rank_widths[:elo_change] %>">
          <div class="dummy-<%= rank_widths[:elo_change] %>"></div>
          <% if t[:team].elo_cache > t[:team].previous_elo %>
            <div class="in board board-elo-up">+<%= t[:team].elo_cache - t[:team].previous_elo %></div>
          <% elsif t[:team].elo_cache < t[:team].previous_elo %>
            <div class="in board board-elo-down">-<%= t[:team].previous_elo - t[:team].elo_cache %></div>
          <% else %>
            <div class="in board board-elo-same">0</div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
